In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

In [2]:
df = pd.read_csv("Dushanbe_house.csv")

In [3]:
df.head()

   Unnamed: 0  number_of_rooms  floor  area   latitude  longitude   price
0           0                1      1  58.0  38.585834  68.793715  330000
1           1                1     14  68.0  38.522254  68.749918  340000
2           2                3      8  50.0        NaN        NaN  700000
3           3                3     14  84.0  38.520835  68.747908  700000
4           4                3      3  83.0  38.564374  68.739419  415000

In [5]:
df.isnull().sum()

Unnamed: 0            0
number_of_rooms       0
floor                 0
area                  0
latitude           1849
longitude          1849
price                 0
dtype: int64

In [6]:
df.shape

(5579, 7)

In [7]:
df.dropna(inplace=True, axis=1)

In [9]:
df.isnull().sum()

Unnamed: 0         0
number_of_rooms    0
floor              0
area               0
price              0
dtype: int64